## =============================================================================
## WebGIS SIGAP UMKM KBB — Frontend Environment Configuration
## =============================================================================

# URL Endpoint API Backend (Production: URL EC2 / Domain API Anda)
# Contoh: http://54.255.123.45/api/v1  atau  https://api.domain-anda.com/api/v1
VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1
